:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;

  margin-top: 20px;
}

#autoplayButton {
  background-color: var(--vermelha);
  color: var(--branca);
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; 
}

#autoplayButton:hover {
  background-color: var(--vermelha-escura);
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  margin: 5px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

#legenda {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cinza);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
  position: absolute; /* Alterando a posição para absoluta */
  right: 40px; /* Definindo a margem direita */
  top: 490px;
  height: 300px;
  width: 300px;
  max-width: 330px;
}

#legenda h2 {
  color: var(--vermelha);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#legenda ul {
  list-style-type: none;
  padding: 0;
}

#legenda li {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: var(--branca)
}

#legenda li strong {
  font-weight: bold;
  color: var(--vermelha-escura)
}

/* Media query para esconder a legenda em dispositivos móveis */
@media (max-width: 768px) {
  .teclado {
    grid-template-columns: repeat(3, 80px);
    margin: 5px;
    gap: 10px; 
    border-radius: 20px; 
  }

  .tecla {
    height: 80px; 
    font-size: 1.0em; 
    line-height: 80px; 
    width: 80px; 
  }
  
  #autoplayButton {
    width: 100px;
    font-size: 12px;
    margin: 10px;
    padding: 8px;
  }

  #legenda {
    display: none;
  }
}